@media print {
  .screen-only {
    display: none;
  }
@media (min-width:500px) {
    body {
      background-color: :red;
    }
  }
@media (min-width:499px) {
    body {
      background-color: :blue;
    }
  }
@media (min-width:499px) {
      h1::before {
        content: "BIENVENIDO A MI PAGINA";
      }
    }

@media (min-width:499px) {
        h1::before {
          content: "BIENVENIDO";
        }
      }
}
h1,h2{
  color: red;
}
ol > li {
  color:red;
}
input [type=text]{
  background-color: lightgrey;
}
input [type=number]{
  background-color: red;
}
button:hover{
  background-color: GREY;
}

a :: before {
content:* \21d2 click aqui: ;
font-weight: :bold;
}
