@media print {
  .screen-only {
    display: none;
  }
@media (min-width:500px) {
    body {
      background-color: :red;
    }
  }
@media (min-width:499px) {
    body {
      background-color: :blue;
    }
  }
@media (min-width:499px) {
      h1::before {
        content: "BIENVENIDO A MI PAGINA";
      }
    }

@media (min-width:499px) {
        h1::before {
          content: "BIENVENIDO";
        }
      }
$tecrojo: rgb(150,50, 50);

}
h1,h2{
  color: red;
}
ol > li {
  color:red;
}
input [type=text]{
  background-color: lightgrey;
}
input [type=number]{
  background-color: red;
}
button:hover{
  background-color: rgb(150,50, 50);
  color: rgb(255,250,230);
}

button{
  background-color: rgb(255,250,230);
  border-style: solid;
  border-color: rgb(150,50, 50);
  font-style: bold;
  font-family: monospace;
  color: rgb(150,50,50);
  margin: 20px;
}

a :: before {
content:* \21d2 click aqui: ;
font-weight: :bold;
}

 .container{
   background-color: rgb(255,250,230);
   border-style: solid;
   border-color: rgb(150,50, 50);
   margin: 25px 50px 25px 50px;
   padding: 5px;
   color: rgb(150,50,50);

 }

 .grid{
   background-color: green;
   display: grid;
   padding: 20px;
   grid-column-gap: 20px;
   grid-row-gap: 10px;
   grid-template-columns: 200px 200px auto;
 }

 .grid-item{
   background-color: white;
   font-size: 20px;
   padding: 20px;
   text-align: center;
 }
.row > div{
  padding: 20px;
  background-color: teal;
  border: 2px solid black;"
}

.alert{
  margin: 20px;
}
